{{ define "main" }}
  <article class="cv flex flex-wrap">
    <div class="w-70">
      <h1 class="f3-m  mb1 f2-l show-print">
        Dan Palmer &mdash; Software Engineer
      </h1>
      <section>
        <h2 class="f3-m  mb1 f2-l hide-print">Experience</h2>
        <div class="mb1">
          <h5 class="f6 gray mt4">
            <span class="black">Google &mdash; Android SRE &mdash; Sydney</span>
            &nbsp;&ndash; Software Engineer (Site Reliability Engineering), April 2024
            &mdash; Present
          </h5>
          <p>
            I moved to Sydney to join and help train a newly forming Android SRE
            team, bringing my experience with the Android ecosystem and Google's
            server development technologies. I'm a squad leader, running a
            project to improve incident response time for first party Android
            apps across Google.
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">Google &mdash; Google Play &mdash; London</span>
            &nbsp;&ndash; Software Engineer, January 2022
            &mdash; April 2024
          </h5>
          <p>
            During my time at Google in the UK, I was responsible for serving
            downloads of apps users of Google Play and app developers. My work
            crossed the stack, from apps (Play Store) to backend servers and
            infrastructure, analytics and experimentation. I own the technical
            roadmap for download improvements and acted as tech lead for junior
            engineers working on these areas.
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">Thread</span>
            &nbsp;&ndash; Software Engineer, June 2014
            &mdash; December 2021
          </h5>
          <p>
            During my 7.5 years at Thread I worked on technology behind every
            part of the business. When leaving as a Senior Software Engineer,
            I was responsible for the technical architecture of our services and
            improving how we work as engineers.
          </p>
          <p>
            Throughout my time at Thread I was trusted to deliver large projects
            independently, including...
            <ul>
              <li>
                Tech lead for new business line, white-labelling of Thread
                app and service for an international clothing brand. Started
                in March 2020. Responsible for overall architecture and
                technical outcome. Implemented partner integration and
                backend, involved in iOS implementation.
              </li>
              <li>
                Tech lead for cloud migration, moving Thread services from
                "bare-metal" machines to Google Cloud Platform.
              </li>
              <li>
                Responsible for delivering business critical strategic
                projects related to fundraising and compliance.
              </li>
              <li>
                Modernising payment processing to support EU Strong Customer
                Authentication legislation, on a 6 week deadline.
              </li>
              <li>
                Architecting and implementing the first API, using GraphQL,
                for a new iOS app. Subsequently used across all frontends.
              </li>
            </ul>
            <p>
              Also a core part of the hiring team for engineering roles, and
              continued to be deeply involved in product iterations and the
              direction of the engineering team. Involved in new-hire training
              across the company.
            </p>
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">Coefficient</span>
            &nbsp;&ndash; Senior Software Engineer (Contract), May 2020 –
            September 2020 (Part Time)
          </h5>
          <p>
            Supported data scientists and client development teams with code
            review and turning prototypes into production-ready code to
            support core business operations. Rapidly built out website and
            internal tools for training course booking, with a custom CMS,
            checkout and payments.
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">MWR InfoSecurity</span>
            &nbsp;&ndash; Security Research and Development, Summer 2013
          </h5>
          <p>
            Built a new security product from idea to fully featured
            prototype in order to explore a new potential business
            opportunity for the company. This was successful and development
            continued, being spun out into a new company – Countercept,
            growing to around 100 people before being acquired along with
            MWR by F-Secure in 2018.
          </p>
          <p>
            Found critical vulnerability in a well-known communication app,
            as part of a penetration testing project. Reviewed and approved
            the client's fix.
          </p>
          <p>
            Assisted in incident response for an attack by a suspected
            "Advanced Persistent Threat" actor, analysing a piece of malware
            to reverse engineer the cryptography being used by it.
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">GoSquared</span>
            &nbsp;&ndash; Software Engineer, Summer 2012
          </h5>
          <p>
            Re-built backend services for real-time visitor stats in web
            analytics and introduced new unit-testing framework to the team.
            Services built with Node.js and Redis. Completed technical
            evaluation of Cassandra for analytics storage.
          </p>
          <h5 class="f6 gray mt4">
            <span class="black">Realmac Software</span>
            &nbsp;&ndash; Software Engineer (Intern), Summer 2011
          </h5>
          <p>
            Contributed to in-house frameworks that were shared between
            several applications, and helped put the finishing touches on
            <em>Analog</em> prior to release. Focused mainly on client-side
            integrations with webservice APIs such as Facebook, Twitter, and
            Amazon S3, working in Objective-C for macOS.
          </p>
        </div>
      </section>
    </div>
    <div class="w-70">
      <section>
        <h2 class="f3-m  mb1 f2-l">Qualifications</h2>
        <div class="mb1">
          <p>
            <strong>MEng Computer Science with Mobile and Secure Systems</strong>
            <br />
            University of Southampton (2010-2014)
            <ul>
              <li>Programming Principles: 92%</li>
              <li>Secure Systems: 82%</li>
              <li>Winner of 3rd Year Netcraft Prize</li>
            </ul>
          </p>
        </div>
      </section>
      <section class="pt3">
        <h2 class="f3-m mb1 f2-l">Talks</h2>
        <div>
          <p>
            <ul>
              <li>
                <a
                  class="link gray underline-hover"
                  href="https://www.youtube.com/watch?v=NsHo-kThlqI"
                >Scaling Django to 500 apps – DjangoCon US 2021</a>
              </li>
              <li>
                <a
                  class="link gray underline-hover"
                  href="https://skillsmatter.com/skillscasts/11718-django-enumfield"
                >Managing Special Cases with Django Enumfield – London Django Meetup 2018</a>
              </li>
              <li>
                <a
                  class="link gray underline-hover"
                  href="https://www.youtube.com/watch?v=jBBcORHhfV0"
                >Scaling Django Codebases – PyConUK 2017</a>
              </li>
            </ul>
          </p>
        </div>
      </section>
      <section class="pt3">
        <h2 class="f3-m  mb1 f2-l">Skills</h2>
        <div>
          <h5>Technical</h5>
          <p>
            <ul>
              <li>
                Currently using Java on Android and the backend,
                as well as cloud services and internal Google tooling.
              </li>
              <li>
                Professional expertise in Python, Django, Kubernetes,
                Swift, Javascript, React and Git.
              </li>
              <li>
                Significant experience building and evolving Continuous
                Integration and Delivery processes.
              </li>
              <li>Experience using Postgres and Redis in production.</li>
              <li>
                Previously worked on Objective-C, C# .NET MVC, Elm, and
                Node.js codebases on professional projects.
              </li>
              <li>
                Some experience with Haskell and Ruby for personal projects.
              </li>
              <li>
                Knowledge of, and interest in, computer security issues,
                including finding an account takeover vulnerability in GitHub
                and information disclosure vulnerability in Django
                (<a href="/2020-06-07-django-memcache-vulnerability/">CVE-2020-13254</a>).
              </li>
            </ul>
          </p>
          <h5>Non-Technical</h5>
          <p>
            <ul>
              <li>Strong emphasis on empathy, candour and clarity in communication.</li>
              <li>Extensive experience with code review.</li>
              <li>Experience in hiring for software engineering roles and designing interviews and hiring processes.</li>
              <li>Experience with project management tools, bug tracking and testing feedback.</li>
              <li>Great written and spoken communication.</li>
              <li>Experience working in an environment with constant re-prioritisation of work.</li>
              <li>Keen and able to learn new problem domains quickly.</li>
            </ul>
          </p>
        </div>
      </section>
      <section class="pt3">
        <h2 class="f3-m  mb1 f2-l">Contact</h2>
        <p>
          You can contact me at
          <a class="link gray underline-hover" href="mailto:cv@danpalmer.me">cv@danpalmer.me</a>.
        </p>
      </section>
    </div>
  </article>
{{ end }}
