// we should not be using these colours anymore
// and should swap them for our $global-color-X
$thread-cinnabar: #ed5346;
$thread-gainsboro: #dadada;
$thread-light-grey: #d2d2d2;
$thread-dark-gray: #aaa;
$thread-suva-gray: #8e8e8e;
$thread-gray: #858585;
$thread-black: #1e1e1e;
$thread-solitude: #ebf2f4;
$thread-white: #fff;
$thread-white-smoke: #f7f7f7;

$global-shadow-header: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
$global-shadow-soft: 0 5px 16px 0 rgba(0, 0, 0, 0.12);
$global-shadow-hard: 0 2px 5px 0 rgba(0, 0, 0, 0.02),
  0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.06);

$global-color-dark: #1e1e1e;
$global-color-dark-90: rgba(30, 30, 30, 0.9);
$global-color-dark-80: rgba(30, 30, 30, 0.8);
$global-color-dark-80-solid: #4b4b4b;
$global-color-dark-60: rgba(30, 30, 30, 0.6);
$global-color-dark-60-solid: #787878;
$global-color-dark-40: rgba(30, 30, 30, 0.4);
$global-color-dark-40-solid: #a5a5a5;
$global-color-dark-30: rgba(30, 30, 30, 0.3);
$global-color-dark-30-solid: #bbb;
$global-color-dark-20: rgba(30, 30, 30, 0.2);
$global-color-dark-20-solid: #d2d2d2;
$global-color-dark-10: rgba(30, 30, 30, 0.1);
$global-color-dark-10-solid: #e8e8e8;

$global-color-light: #f7f7f7;
$global-color-white: #fff;
$global-color-red: #bd3a21;

$global-color-pink: #ea5754;
$global-color-pink-80: rgba(234, 87, 84, 0.8);
$global-color-pink-80-solid: #ee7976;
$global-color-pink-25: rgba(234, 87, 84, 0.25);
$global-color-pink-25-solid: #fad5d4;

$global-color-blue: #2e9fe6;
$global-color-blue-25: rgba(46, 159, 230, 0.25);
$global-color-blue-25-solid: #cbe7f9;
