/*
 * the global grid for thread.com
 * implemented across most pages via hacks in the old legacy codebase
 * but used in a more clean fashion on newer parts of the codebase
 */

$global-grid-gutter: 20px;
$global-base-spacing-1: 16px;
$global-base-spacing-2: $global-base-spacing-1 * 2;
$global-grid-upper-breakpoint: 760px;

/**
  * $col: number of columns that the elements should span
  * $numCols: total number of columns (default: 12)
  * $gutter: the gutter size (default: 20px)
  */
@function calc-grid($col, $numCols: 12, $gutter: $global-grid-gutter) {
  $per: percentage($col / $numCols);
  $amt: $numCols - $col;
  @return calc(#{$per} - #{$gutter} * (#{$amt} / #{$numCols}));
}

@mixin thread-base-grid-padding() {
  padding-left: $global-base-spacing-1;
  padding-right: $global-base-spacing-1;

  @media (min-width: $global-grid-upper-breakpoint) {
    padding-left: $global-base-spacing-2;
    padding-right: $global-base-spacing-2;
  }
}

@mixin thread-base-max-width() {
  // TODO: this is a fix for some legacy pages
  // in the long term we should use 760 as this breakpoint
  // but on some old pages 768 is the breakpoint, so for now
  // we use that to avoid some oddities on existing pages
  @media (min-width: 768px) {
    max-width: 1144px;
    width: 100%;
  }
}

@mixin thread-base-grid() {
  @include thread-base-grid-padding();
  @include thread-base-max-width();
}

.container {
  @include thread-base-grid();
}
