.editor {
  background-color: #1d212e;
  color: #c5c8c6;
}
.editor .wrap-guide {
  background-color: #262b3d;
}
.editor .indent-guide {
  color: #373f59;
}
.editor .invisible-character {
  color: #373f59;
}
.editor .gutter {
  background-color: #1f2331;
  color: #c5c8c6;
}
.editor .gutter .line-number.cursor-line {
  background-color: #373f59;
  color: #c5c8c6;
}
.editor .gutter .line-number.cursor-line-no-selection {
  color: #c5c8c6;
}
.editor .gutter .line-number.folded,
.editor .gutter .line-number:after,
.editor .fold-marker:after {
  color: #485375;
}
.editor .invisible {
  color: #c5c8c6;
}
.editor .cursor {
  color: #ffffff;
}
.editor .selection .region {
  background-color: #3a415c;
}
.syntax--comment {
  color: #485375;
}
.syntax--keyword {
  color: #e04d69;
}
.syntax--keyword.syntax--control {
  color: #e04d69;
}
.syntax--keyword.syntax--operator {
  color: #c5c8c6;
}
.syntax--keyword.syntax--other.syntax--special-method {
  color: #8abcd5;
}
.syntax--keyword.syntax--other.syntax--unit {
  color: #ca708a;
}
.syntax--storage {
  color: #e04d69;
}
.syntax--constant {
  color: #ca708a;
}
.syntax--constant.syntax--character.syntax--escape {
  color: #65759b;
}
.syntax--constant.syntax--numeric {
  color: #e99fbf;
}
.syntax--constant.syntax--other.syntax--color {
  color: #65759b;
}
.syntax--constant.syntax--other.syntax--symbol {
  color: #8abcd5;
}
.syntax--variable {
  color: #65759b;
}
.syntax--variable.syntax--interpolation {
  color: #d52547;
}
.syntax--variable.syntax--parameter.syntax--function {
  color: #c5c8c6;
}
.syntax--invalid.syntax--illegal {
  background-color: #e04d69;
  color: #1d212e;
}
.syntax--string {
  color: #ca708a;
}
.syntax--string.syntax--regexp {
  color: #65759b;
}
.syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded {
  color: #ca708a;
}
.syntax--string.syntax--other.syntax--link {
  color: #e04d69;
}
.syntax--punctuation.syntax--definition.syntax--comment {
  color: #485375;
}
.syntax--punctuation.syntax--definition.syntax--string,
.syntax--punctuation.syntax--definition.syntax--variable,
.syntax--punctuation.syntax--definition.syntax--parameters,
.syntax--punctuation.syntax--definition.syntax--array {
  color: #c5c8c6;
}
.syntax--punctuation.syntax--definition.syntax--heading,
.syntax--punctuation.syntax--definition.syntax--identity {
  color: #8abcd5;
}
.syntax--punctuation.syntax--definition.syntax--bold {
  color: #8abcd5;
  font-weight: bold;
}
.syntax--punctuation.syntax--definition.syntax--italic {
  color: #c4b4c6;
  font-style: italic;
}
.syntax--punctuation.syntax--section.syntax--embedded {
  color: #d52547;
}
.syntax--support.syntax--class {
  color: #8abcd5;
}
.syntax--support.syntax--function {
  color: #65759b;
}
.syntax--support.syntax--function.syntax--any-method {
  color: #8abcd5;
}
.syntax--entity.syntax--name.syntax--function {
  color: #c5c8c6;
}
.syntax--entity.syntax--name.syntax--type {
  color: #8abcd5;
  text-decoration: underline;
}
.syntax--entity.syntax--other.syntax--inherited-class {
  color: #e99fbf;
}
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--type.syntax--class {
  color: #8abcd5;
}
.syntax--entity.syntax--name.syntax--section {
  color: #8abcd5;
}
.syntax--entity.syntax--name.syntax--tag {
  color: #e04d69;
  text-decoration: underline;
}
.syntax--entity.syntax--other.syntax--attribute-name {
  color: #ca708a;
}
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: #8abcd5;
}
.syntax--meta.syntax--class {
  color: #8abcd5;
}
.syntax--meta.syntax--link {
  color: #ca708a;
}
.syntax--meta.syntax--require {
  color: #8abcd5;
}
.syntax--meta.syntax--selector {
  color: #c4b4c6;
}
.syntax--meta.syntax--separator {
  background-color: #373f59;
  color: #c5c8c6;
}
.syntax--none {
  color: #c5c8c6;
}
.syntax--markup.syntax--bold {
  color: #ca708a;
  font-weight: bold;
}
.syntax--markup.syntax--changed {
  color: #c4b4c6;
}
.syntax--markup.syntax--deleted {
  color: #e04d69;
}
.syntax--markup.syntax--italic {
  color: #c4b4c6;
  font-style: italic;
}
.syntax--markup.syntax--heading
  .syntax--punctuation.syntax--definition.syntax--heading {
  color: #8abcd5;
}
.syntax--markup.syntax--inserted {
  color: #e99fbf;
}
.syntax--markup.syntax--list {
  color: #e04d69;
}
.syntax--markup.syntax--quote {
  color: #ca708a;
}
.syntax--markup.syntax--raw.syntax--inline {
  color: #e99fbf;
}
.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
}
.syntax--source.syntax--gfm .syntax--markup.syntax--heading {
  color: #e99fbf;
}
.editor[mini] .scroll-view {
  padding-left: 1px;
}
