$nav-bar-z-index-base: 1000;

$nav-bar-z-index-dropdown: $nav-bar-z-index-base + 10;
$nav-bar-z-index-link: $nav-bar-z-index-base + 2;
$nav-bar-z-index-notifications: $nav-bar-z-index-base + 1;
$nav-bar-z-index-sentiment: $nav-bar-z-index-base + 1;
$nav-bar-z-index-search: $nav-bar-z-index-base + 1;
$nav-bar-z-index-search-expanded: $nav-bar-z-index-search + 2;
