@import '../styles/grid';
@import '../styles/breakpoints';
@import '../styles/colors';

.primaryProjects,
.secondaryProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.primaryProjects:after,
.secondaryProjects:after {
  content: '';
}

.project,
.primaryProjects:after,
.secondaryProjects:after {
  margin-bottom: 30px;

  @media (max-width: $breakpoint-stack) {
    width: 100%;
  }

  @media (min-width: $breakpoint-stack + 1) {
    width: calc(100% / 2 - 30px);
  }

  @media (min-width: $breakpoint-mobile + 1) {
    width: calc(100% / 3 - 30px);
  }
}
