{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <article class="post">
    <header>
      <h1 class="f2-m mb1 f1-l measure-narrow">
        {{ .Title }}
      </h1>
      <div>
        <time class="f6">{{ .PublishDate.Format "January 2, 2006" }}</time>
      </div>
    </header>
    <section class="content markdown-content measure-wide">
      {{ .Content }}
    </section>
  </article>
  <div class="fl w-100 pt5 pb4">
    <a href="/colophon" class="link underline-hover fl f6 post-colophon-link">
      Meta
    </a>
  </div>
{{ end }}
