@import '../../styles/index';

// Need to be imported after constants defined
@import './brand';
@import './dropdown';
@import './link';

.global-navigation-wrapper {
  margin-bottom: $nav-height * 2;

  @media (max-width: $breakpoint-stack) {
    margin-bottom: $nav-height * 3;
  }
}

.global-navigation {
  @include nav-dropdown;

  position: relative;
  width: 100%;
  background-color: $global-color-white;
  box-shadow: $global-shadow-header;
  box-sizing: border-box;
  font-size: $nav-font-size;
  padding: 0 $global-base-spacing-1;
  line-height: $nav-height * 2;
  z-index: $nav-bar-z-index-base;

  @media (min-width: $breakpoint-mobile) {
    font-size: $nav-font-size-desktop;
    padding-left: $global-base-spacing-2;
    padding-right: $global-base-spacing-2;
  }

  a {
    color: $global-color-dark-60;
    text-decoration: none;

    &:hover {
      color: $global-color-dark;
    }
  }

  &.navigation-fixed {
    position: fixed;
    top: 0;
  }

  .navigation-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    height: 100%;
    min-height: $nav-height * 2;
  }
}

.no-touch-browser .global-navigation {
  @include nav-dropdown-hover;
}
