<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="description"
    content="Personal site and blog"
  />
  <meta
    name="keywords"
    content="engineering culture"
  />

  <title>{{ .Site.Title }}</title>

  {{ $sass := resources.Get "styles/main.scss" }}
  {{ $style := $sass | resources.ToCSS | minify }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />
</head>
