<nav class="db flex justify-between pa3 ph5-l">
  <div class="dib w-25 v-mid">
    <a href="/" class="link dim">
      <picture>
        <img
          class="dib w2 h2 br-100"
          alt={{ .Site.Title }}
          src="images/danpalmer.jpg"
        />
      </picture>
    </a>
  </div>
  <div class="dib w-75 v-mid tr">
    <a href="/" class="link dim f6 f5-l dib mr3 mr4-l">
      Blog
    </a>
    <a href="/projects" class="link dim f6 f5-l dib mr3 mr4-l">
      Projects
    </a>
    <a href="/cv" class="link dim f6 f5-l dib">
      CV
    </a>
  </div>
</nav>
