<article class="pv3">
  <div class="flex items-baseline justify-between">
    <div class="pr3">
      <strong>{{ .name }}</strong>
      <span class="ml2 silver">{{ .year }}</span>
    </div>
    {{ with .link }}
      <a
        class="link gray underline-hover nowrap"
        href="{{ . }}"
        target="_blank"
        rel="noopener noreferrer"
      >Open <span aria-hidden="true">↗</span></a>
    {{ else }}
      <a
        class="link gray underline-hover nowrap"
        href="https://github.com/{{ .repo }}"
      >{{ .repo }}</a>
    {{ end }}
  </div>
  <p class="mt1 mb0 lh-copy">{{ .description }}</p>
</article>
