{{ define "title" }}
  Meta
{{ end }}

{{ define "main" }}
  <h1 class="f-subheadline">
    Meta
  </h1>
  <div class="measure-wide">
    <p>
      This blog is a progressive web app, built using a modern
      Go-based static-site toolchain. Posts are written in Markdown
      with various extensions. The site is deployed on VPS hosted in the European Union.
    </p>
    <p>
      It&rsquo;s <a class="link gray underline-hover" href="https://github.com/danpalmer/danpalmer.me">open source</a>, and content is licenced under <a class="link gray underline-hover" href="https://creativecommons.org/licenses/by-sa/4.0/"> Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
    <p>Affiliate links are used on this site.</p>
    <p>∞</p>
  </div>
{{ end }}
