@import "../../styles/variables";

@import "~tachyons-sass/tachyons.scss";

.post {
  max-width: 60em;
}

.content {
  margin-top: 30px;

  @media (max-width: $breakpoint-mobile) {
    max-width: 100%;
  }

  p {
    @extend .f5;
    @extend .pb2;
  }

  h3 {
    @extend .pt5;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;

    @extend .w-100;
    @extend .mw8;
    @extend .tl;
    @extend .ph3;
    @extend .pv2;

    th {
      @extend .bb;
      @extend .b--black-20;
      @extend .tl;
      @extend .pb3;
      @extend .pr3;
      @extend .bg-white;
    }

    td {
      @extend .pv3;
      @extend .pr3;
      @extend .bb;
      @extend .b--black-20;
    }
  }

  code {
    @extend .lh-copy;
    @extend .white;
    @extend .bg-mid-gray;
    @extend .br2;
    @extend .pv0;
    @extend .ph1;
    @extend .f6;
  }

  pre {
    overflow: scroll;
    padding: 1rem;
  }
}
